/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3d3d3d;
  color: white
}

header a:hover {
  color: #1ca9eb !important;

}

main {
  margin: 120px 10px 120px 250px;
  overflow: auto;

}

::-webkit-scrollbar {
  display: none;
}



.overlay {
  padding: 15px;
  color: white;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  cursor: pointer;
}

.card:hover .overlay {
  display: block;
}

header {
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 3000;
}

footer {
  height: 100px;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 30px;
  text-align: center;
  z-index: 3000;
}

#sideBar {
  margin-top: 75px;
  margin-bottom: 100px;
  position: fixed;
  left: 0;
  height: 100%;
  width: 200px;
}