/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
  color: white
}

header a:hover {
  color: #1ca9eb !important;

}

main {
  margin: 120px 10px 120px 250px;
  overflow: auto;

}

::-webkit-scrollbar {
  display: none;
}

header {
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 3000;
}

footer {
  height: 100px;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 30px;
  text-align: center;
}

#sideBar {
  margin-top: 75px;
  margin-bottom: 100px;
  position: fixed;
  left: 0;
  height: 100%;
  width: 200px;
}